@model MobilesShop.Models.PhoneFeatures

<div class="thumbnail">
    <div class="caption-full">
        <h3>
            <a href="#">@Model.Name</a>
        </h3>
        <h3 class="pull-right">@Model.Price$</h3>
        
        <h4>@Model.Manufacturer</h4>
        <h3>@Model.Memory</h3>
        <h3>@Model.Size</h3>
        <h3>@Model.processor</h3>
    </div>
</div>
